extends layout

block content
  h1= title
  
  h2 Education
  
  h3 Bachelor of Science in Computer Science, 2008
  p.subheading North Carolina State University &mdash; Raleigh, NC

  h2 Work Experience

  h3 Public Consulting Group &mdash; Blacksburg, VA
  p.subheading Software Engineer (December 2011 &ndash; Present)
  ul.details
    li.
      Present Employment

  h3 McMillion Research &mdash; Charleston, WV
  p.subheading Web Developer (August 2010 &ndash; November 2011)
  ul.details
    li.
       Worked on multiple projects independently and concurrently
    li.
       Used HTML, Javascript, and Perl scripting to develop web-based surveys
       to collect data for market research applications
    li.
       Worked with clients directly throughout the lifetime of a project,
       including determining client needs, developing specifications, and
       providing continuing support
    li.
       Independently developed mobile applications for the iOS and Android
       platforms, including front-end design, running beta tests, and writing
       internal documentation

  h3 Hopt Solutions &mdash; Durham, NC
  p.subheading Web Developer (December 2008 &ndash; February 2010)
  ul.details
    li.
       Developed and maintained multiple websites concurrently, including
       e-commerce sites
    li.
       Developed site layouts, including graphics and images, using PHP, XHTML,
       JavaScript, and CSS
    li.
       Extended the concrete5 PHP framework to provide customized CMS solutions
       for clients
    li.
       Heavily extended the Magento e-commerce platform to add custom front-
       and back-end  functionality for clients

  h3 Tax Technology Services, LLC &mdash; Raleigh, NC
  p.subheading Web Developer Internship (May 2008 &ndash; October 2008)
  ul.details
    li.
       Worked in a small team to develop and maintain an enterprise-level web
       application
    li.
       Developed a data entry application for in-house and possible client use,
       greatly improving the efficiency and turnover rate of in-house data
       entry
    li.
       Administered in-house usability and QA testing for data entry
       application, addressing bug fixes and user input as required

  h2 Achievements

  h3 Park Scholar
  p.subheading North Carolina State University

  h3 Co-author
  p.subheading
    span.italic
      | A Development Environment for Distributed Synchronous Collaborative
      | Programming.
    |  Kristy Elizabeth Boyer, August A. Dwight, R. Taylor
    | Fondren, Mladen A. Vouk, and James C. Lester. In
    span.underline
      |  Proceedings of the 13th Annual Conference on Innovation and Technology in
      | Computer Science Education
    |  (ITiCSE '08), Madrid, Spain, 2008, 158&ndash;162.
    
