doctype 5
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:900|Istok+Web:400,400italic|Lora:700italic|Josefin+Slab:300italic')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.content-wrapper
      block content
