body
  color: #111144
  background: url('../images/lightpaperfibers.png') top left repeat fixed
  margin: 0px
  padding: 1.25em
  font: 16px/1.25 'Istok Web', Helvetica, Arial, sans-serif
  font-weight: 400

div.content-wrapper
  background-color: rgba(255, 255, 255, .55)
  width: 75%
  margin: 0px auto
  border: 1px solid #0B1182
  padding: 0 5em

ul.details
  margin-top: 1.25em
  margin-bottom: 1.25em

p.subheading, ul.details li
  margin-top: 1.25em
  margin-bottom: 1.25em

h1
  color: #0B1182
  font-family: 'Playfair Display SC', serif
  font-weight: 900
  font-size: 4em
  line-height: 1.25
  margin-top: .625em
  margin-bottom: .625em

h2
  font-family: 'Josefin Slab', serif
  font-weight: 300
  font-style: italic
  font-size: 2em
  line-height: 1.25
  margin-top: 1.25em
  margin-bottom: .625em

h3
  font-family: 'Lora', serif
  font-weight: 700
  font-style: italic
  font-size: 1.125em
  line-height: 1.111
  margin-top: 1.111em
  margin-bottom: 1.111em

.underline
  text-decoration: underline

.italic
  font-style: italic

a
  color: #00B7FF
