body
  color: #839496
  background: url('../images/lightpaperfibers.png') top left repeat fixed
  margin: 0px
  padding: 1.25em
  font: 16px/1.25 'Droid Sans Mono', 'Consolas', 'Inconsolata', monospace
  font-weight: 400

div
  margin: 0px
  border: 0px
  padding: 0px

#content-wrapper
  background-color: #002B36
  width: 75%
  margin: 0px auto
  //border: 1px solid #0B1182
  //padding: 0 5em

#code
  border-left: 2.5em solid #073642

.details
  margin-top: 1.25em
  margin-bottom: 1.25em

.subheading, .details li
  margin-top: 1.25em
  margin-bottom: 1.25em

h1
  color: #0B1182
  font-size: 4em
  line-height: 1.25
  margin-top: .625em
  margin-bottom: .625em

h2
  font-size: 2em
  line-height: 1.25
  margin-top: 1.25em
  margin-bottom: .625em

h3
  font-size: 1.125em
  line-height: 1.111
  margin-top: 1.111em
  margin-bottom: 1.111em

.underline
  text-decoration: underline

.italic
  font-style: italic

a
  color: #00B7FF
